@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap'); */

@import "tailwindcss";

@theme {
  --font-geist: "Geist", sans-serif;
  /* --font-inter: "Inter", sans-serif; */
  /* --font-gravitas: "Gravitas One", serif; */
}


/* <!-- #05ff00 --> */